// ogolne wlasciwosci
.home .site-header {
	margin-bottom: 0;
}

// Style banera
.header-widget-region .widget {
	padding: 0;
}

.home-slider {
	background: url("images/baner_top.jpg");
	background-size: cover;
}

.home-slider-content {
	text-align: center;
	padding: 2.5em;
	line-height: 1.65;
	@media #{$small} {
		padding: 17.85em 0;
	}
	h1 {
		display: block;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 36px;
		text-transform: uppercase;
		color: $white;
		@media #{$small} {
		font-size: 44px;
		}
	}
	h2 {
		color: $white;
		margin-bottom: 20px;
	}
	a {
		padding: 8px 20px;
		color: $white;
		border: 1px solid $white;
		font-size: 18px;
		&:hover {
			background: rgba($white,0.2);
		}
	}
}

// Boxy kategorii
.storefront-product-categories {
	margin-bottom: 20px;
	padding: 30px 0 20px 0;
	clear: both;
	h2 {
		display: none;
	}
	.products .product {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		@media #{$small} {
			@include plpr15;
			display: inline-block;
			width: 33%;
			margin-bottom: 0;
			float: none;
		}
		img {
			height: auto;
			max-width: 100%;
			display: block;
			position: relative;
			margin: 0;
			@include basic-transition;
			filter: brightness(0.9);
			@media #{$small} {
				max-width: 360px;
			}
		}
		a {
			display: block;
			overflow: hidden;
		}
	}
}

// Napisy na boxach kategori
.category-title-box {
	position: absolute;
	background: rgba($white,0.1);
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	@include basic-transition;
	&:hover {
		background: rgba($white,0.25);
	}
	h3 {
		color: $white;
		font-size: 22px;
		text-transform: uppercase;
		position: relative;
		font-weight: 700;
		top: 50%;
		transform: translateY(-50%);
	}
}

// Nasz stworzony box
// Promo Box
.promo-box-homepage {
	width: 100%;
	padding-top: 40px;
	@include clearfix;
	@media #{$x-small} {
		@include plpr15;
	}
}

.promo-box-inner {
	width: 100%;
	text-align: center;
	@include clearfix;
	padding: 20px;
	@media #{$medium} {
		text-align: inherit;
	}
}

.promo-box-border {
	padding: 20px 40px;
	border: 1px solid darken($bright-border-color,15%);
}

.promo-box-left {
	margin-bottom: 10px;
	display: block;
	@media #{$medium} {
		margin-bottom: 0;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}
	h3 {
		font-size: 24px;
	}
	p {
		font-size: 18px;
	}
}

.promo-box-right {
	@media #{$medium} {
		display: table-cell;
		vertical-align: middle;
		min-width: 130px;
	}
}