// Plik przechowuje domieszki - kod do wielokrotnego uzycia
// Zamast podawac dwie wartosci tak podamy jedna mixine z doma parametrami

// Rozmiar tekstu
// fs - font size
// lh - lineheight
@mixin text-size($fs,$lh) {
	font-size: $fs;
	line-height: $lh;
}

// Przejscie (hovera)
@mixin basic-transition {
	transition: all .25s ease-in-out;
}

// Pozioma kreska
@mixin b-bottom {
	border-bottom: 1px solid $bright-border-color;
}

// Padding prawy/lewy 15px
@mixin plpr15 {
	padding-left: 15px;
	padding-right: 15px;
}

// Clearfix
// Plywajace elementy
@mixin clearfix {
	content: " ";
	display: table;
	clear: both;
}

// Cien za obrazami
@mixin basic-shadow {
	box-shadow: 0 0 1px $shadow-color;
}