// Ogolne wlasciwości pol w formularzu

// Dla wszystkich inputow dajemy czcionke
input {
	font-family: $primary-font;
}

.woocommerce-checkout #customer_details,
.woocommerce-account, /* Strona moje konto */
.comment-respond, /* Dodanie recenzji */
.site-header { /* Na wszelki wypadek */
	input, textarea {
		display: block;
		height: 33px;
		width: 100%;
		padding: 6px 12px;
		background: $v-light-grey;
		border: none;
		box-shadow: none;
		margin-bottom: 0;
		vertical-align: middle;
	}
	/* Konkretnie dla pol do wpisywania */
	textarea {
		height: 33%;
		vertical-align: middle;
	}
	label {
		font-weight: 400;
		display: block;
		margin-bottom: 5px;
		/* Elmenty ktore so wymagane i wyswietla sie obok nich gwiazdka */
		abbr {
			color: $msg-red;
			border: transparent;
		}
	}
}

// Checkbox
// Wyglad dla okienke do zaznaczania
input[type="checkbox"] {
	-moz-appearance: none; /* Usuniecie styli narzucanych przez przegladarke */
	width: 18px !important;
	height: 18px !important;
	line-height: 1;
	display: inline-block;
	outline: none;
	margin-right: 7px;
}

// Zmiana ilosc
// Odpowiada 
.quantity input {
	text-align: center;
	cursor: pointer;
	border: none;
	color: $main-text-color;
	vertical-align: top;
	width: 100%;
	box-shadow: none;
	height: 34.8333px;
}

// Wyszukiwarka u gory
// Ikona lupy
.widget_product_search form::before {
	color: $dark-grey;
}