// Sortowanie
.storefront-sorting {
	@media #{$small} {
		@include plpr15;
	}
	margin-top: 30px;
	margin-bottom: 30px;
}

.woocommerce-ordering {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	// Wybor roziwjanego menu
	select {
		-moz-appearance: none;
		box-shadow: none;
		border: none;
		padding: 8px 10px;
		margin-bottom: 10px;
		option {
			font-family: $primary-font;
		}
	}
}

// Napis wyswitlajacay ilosc wyszukanych produktow
.woocommerce-result-count {
	display: inline-block;
	padding: 10px 0;
	margin-bottom: 0;
	margin-left: 10px;
}